# Python Environment
/venv/
/env/
.python-version

# IDE Settings
.vscode
.idea

# Python Cache et al
__pycache__/
*.py[cod]
*$py.class
UNKNOWN.egg-info/

# OS Cache
.DS_Store

# App Logs
*.log

# Certificates
*.key
*.pem
*.csr
/app/utils/certs/

# Secrets
/.env
user.json
/init.sql

# Docker > db Postgres Data
docker/db/data

# Local working notes / tools
/scratch/
