/* alpine: default hide */
[x-cloak] {
    display: none !important;
}

#navbar {
    padding: 0.25rem 0;
    background-color: var(--cisa-nav-blue);
}

#navCisaLogo {
    border-radius: 22px;
}
#navCisaLogo:focus,
#navCisaLogo:hover {
    outline: 3px solid white;
}

/* no underline normally, shows on hover/focus, disappears on click */
.underline-hover {
    text-decoration: none !important;
}
.underline-hover:focus,
.underline-hover:hover {
    text-decoration: underline !important;
}
.underline-hover:active {
    text-decoration: none !important;
}

#navDeciderHome {
    color: var(--bs-navbar-brand-color) !important;
    display: inline-block !important;
    margin-left: 1.5rem !important;
    padding-left: 1.5rem !important;
    border-left: 1px solid white;
}
@media (min-width: 992px) {
    #navDeciderHome {
        color: var(--bs-navbar-brand-color) !important;
        display: inline-block !important;
        padding-right: 1.5rem !important;
        border-right: 1px solid white;
    }
}

#versionPicker a {
    color: var(--bs-navbar-brand-color) !important;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* NavBar - Mini Tech Search */

@media (max-width: 991px) {
    #navMiniSearch {
        max-width: 100% !important;
        position: relative;
    }
}

@media (min-width: 992px) {
    #navMiniSearch {
        max-width: min(40%, 450px) !important;
        position: relative;
    }
}

#navMiniSearchDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1000;
    max-height: max(200px, 35dvh);
    overflow-y: scroll;
    background-color: #fff;
    border: 2px solid var(--bs-border-color);
}
#navMiniSearchDropdownList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#navMiniSearchDropdownList > li + li {
    border-top: 2px solid var(--bs-border-color);
}
#navMiniSearchDropdownList > li > a {
    text-decoration: none !important;
}
#navMiniSearchDropdownList > li > a:focus,
#navMiniSearchDropdownList > li > a:hover {
    text-decoration: underline !important;
}
#navMiniSearchDropdownList > li:hover,
#navMiniSearchDropdownList > li:focus-within {
    background-color: #00ffff20 !important;
}

/* ----------------------------------------------------------------------------------------------------------------- */

/* grow to at least 100% (push footer to bottom on short pages) */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#btnScrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

/* bootstrap-icon: bold */
.bi-font-bold::before {
    font-weight: 900 !important;
}

#deciderFooter {
    color: white;
    background-color: var(--cisa-nav-blue);
}

:root {
    --attack-orange: #b0371c; /* adjusted for contrast on gray */
    --attack-orange-alt: #cc0000;

    --strong-blue: #0000aa;
    --strong-blue-alt: #0000ff;

    --cisa-nav-blue: #005288;
    --cisa-nav-blue-dark: #003e66;
}

mark {
    padding: 0.1rem !important;
    background-color: inherit;
    color: inherit;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #0f0;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
}

.answer-card {
    --bs-card-inner-border-radius: 0;
    --bs-card-border-radius: 0;

    --bs-card-cap-color: black;
    --bs-card-cap-bg: #eee;

    --bs-card-border-color: #ccc;

    --bs-card-color: white;
    --bs-card-bg: var(--cisa-nav-blue-dark);
}
.answer-card .card-header {
    padding: calc(var(--bs-card-cap-padding-y) * 0.4) calc(var(--bs-card-cap-padding-x) * 0.4);
}
.answer-card .card-footer {
    padding: calc(var(--bs-card-cap-padding-y) * 0.4) calc(var(--bs-card-cap-padding-x) * 0.4);
}
.answer-card code {
    color: rgb(110, 255, 110);
}
.answer-card .stretched-link:hover::after,
.answer-card .stretched-link:focus::after {
    background-color: #00ffff20;
}

.link-attack-orange {
    color: var(--attack-orange) !important;
    -webkit-text-decoration-color: var(--attack-orange) !important;
    text-decoration-color: var(--attack-orange) !important;
}
.link-attack-orange:hover,
.link-attack-orange:focus {
    color: var(--attack-orange-alt) !important;
    -webkit-text-decoration-color: var(--attack-orange-alt) !important;
    text-decoration-color: var(--attack-orange-alt) !important;
}

.link-strong-blue {
    color: var(--strong-blue) !important;
    -webkit-text-decoration-color: var(--strong-blue) !important;
    text-decoration-color: var(--strong-blue) !important;
}
.link-strong-blue:hover,
.link-strong-blue:focus {
    color: var(--strong-blue-alt) !important;
    -webkit-text-decoration-color: var(--strong-blue-alt) !important;
    text-decoration-color: var(--strong-blue-alt) !important;
}

.coocCollapseDiv:not(.show) {
    display: block;
    height: 20px;
    overflow: hidden;
}

.coocCollapseDiv {
    max-height: 30dvh;
    overflow-y: scroll;
}

.coocCollapseDiv code {
    color: #ad1a64;
}

#successTechAndSubsList {
    list-style-type: none;
    padding-left: 1rem;
}

#successPage header + section,
#successPage section + section {
    border-top: 2px solid var(--bs-border-color);
    margin-top: 1rem;
    padding-top: 1rem;
}

.badge-group .badge + .badge {
    margin-left: 0.2rem !important;
}

/* < md (compact stacked view) */
@media (max-width: 767px) {
    .filterCheckboxes {
        max-height: 300px;
        overflow-y: scroll;
    }
}
/* >= md (sidebar filters) */
@media (min-width: 768px) {
    .filterCheckboxes {
        max-height: 25dvh;
        overflow-y: scroll;
    }
}

.filterRow {
    border: 2px solid var(--bs-border-color);
    border-radius: 10px;
    background-color: var(--bs-light);
}

#shoppingCart .offcanvas-header {
    background-color: black;
    border-bottom: 2px solid var(--bs-border-color);
    color: white;
}

.cart-entry {
    border: 2px solid var(--bs-border-color);
    background-color: var(--bs-light);
    border-radius: 10px;
    padding: 0.5rem;
}

.cart-entry textarea {
    min-height: 30px;
    height: 75px;
    max-height: max(15dvh, 100px);
    overflow-y: scroll;
}

.btn-border-dark {
    --bs-btn-border-color: #8f8f8f;
}

#fullTechniqueSearchBox,
#answerCardSearchBox {
    outline: 4px solid var(--bs-border-color);
}

/* used for "..." in full search snippets */
span.redtext {
    color: rgb(51, 255, 0) !important;
    font-weight: 700 !important;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* Classification Banner Styling */
/* https://codepen.io/kvangrae/pen/EWJBpo */

.classification-banner:before,
.classification-banner:not([data-single-banner]):after {
    display: block;
    background-color: #5e5e5e;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0 #444;
    content: attr(data-classification);
}
.classification-banner[data-banner-content]:before,
.classification-banner[data-banner-content]:not([data-single-banner]):after {
    content: attr(data-banner-content);
}
.classification-banner[data-classification^='U']:before,
.classification-banner[data-classification^='U']:after {
    background-color: #5cb85c;
}
.classification-banner[data-classification^='C']:before,
.classification-banner[data-classification^='C']:after {
    background-color: #286090;
}
.classification-banner[data-classification^='S']:before,
.classification-banner[data-classification^='S']:after {
    background-color: #d9534f;
}
.classification-banner[data-classification^='T']:before,
.classification-banner[data-classification^='T']:after {
    background-color: #f0ad4e;
}
.classification-banner[data-font-size-small]:before,
.classification-banner[data-font-size-small]:not([data-single-banner]):after {
    font-size: 0.8em;
}
.classification-banner[data-font-size-large]:before,
.classification-banner[data-font-size-large]:not([data-single-banner]):after {
    font-size: 1.33333333em;
}
body.classification-banner {
    padding-top: 1.17em;
    padding-bottom: 1.17em;
}
body.classification-banner:before,
body.classification-banner:not([data-single-banner]):after {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}
body.classification-banner:before {
    top: 0;
}
body.classification-banner:not([data-single-banner]):after {
    bottom: 0;
}

/* ----------------------------------------------------------------------------------------------------------------- */
