{% extends 'base.html' %}

{% block content %}

<section class="hero is-medium" style="background-color: #F2EFFB;">
    <div class="hero-body">
        <p class="title">
            Cart Encryption Key Issue
        </p>
        <p class="subtitle">
            <br>
            Contact your Decider sysadmin <b>now</b>!<br>
            <br>
            The key used to encrypt DB-saved carts has changed...<br>
            <i>while there are still carts encrypted under the old key.</i><br>
            <br>
            <b>Loss of carts may occur!</b>
        </p>
    </div>
</section>

{% endblock %}