{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4" x-data="changePassForm()">

    <!-- Title -->
    <h3 class="title is-3">Change Password</h3>

    <!-- Box -->
    <div class="box" style="overflow: visible; position: relative;">

        <!-- Flashed Error Message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Form -->
        <form method="POST" action="/profile/change_password">

            <!-- Old Password -->
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="password"
                        name="old_password"
                        autocomplete="off"
                        placeholder="Old Password"
                        autofocus=""
                        maxlength="65"
                        x-model="oldPassword"
                    >
                </div>
            </div>

            <!-- New Password -->
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="password"
                        name="new_password_1"
                        autocomplete="off"
                        placeholder="New Password"
                        autofocus=""
                        maxlength="65"
                        x-model="newPassword"
                    >
                </div>
            </div>

            <!-- Confirm Password -->
            <div class="field">
                <div class="control">
                    <input
                        class="input is-large"
                        type="password"
                        name="new_password_2"
                        autocomplete="off"
                        placeholder="Repeat New Password"
                        autofocus=""
                        maxlength="65"
                        x-model="confirmPassword"
                    >
                </div>

                <!-- Pass Requirements Listing -->
                <template
                    x-effect="passwordCheck = passwordValidatorJSON(newPassword, confirmPassword)"
                    x-if="newPassword || confirmPassword"
                >
                    <div class="help">
                        <ul>
                            <template x-for="test in (passwordCheck || {}).tests || []">
                                <li
                                    x-text="test.message"
                                    :class="test.passed ? 'has-background-success-light' : 'has-background-danger-light'"
                                ></li>
                            </template>
                        </ul>
                    </div>
                </template>
            </div>

            <!-- Submit -->
            <button
                id="submit"
                class="button is-block is-info is-large is-fullwidth"
                :disabled="!(oldPassword && newPassword && confirmPassword && (passwordCheck || {}).passed)"
            >Change</button>

            <!-- CSRF -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        </form>

    </div>
</div>

<script>

function changePassForm() {
    return {
        oldPassword    : "",
        newPassword    : "",
        confirmPassword: "",
        passwordCheck  : null,
    }
}

</script>

{% endblock %}
