{% extends 'base.html' %}

{% block title %}Changelog{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1 class="fs-3 mb-3">Changelog</h1>

    <p>
        <strong>Note:</strong> this changelog has been deprecated.<br><br>

        You should check out the
        <a
            href="https://github.com/cisagov/decider"
            target="_blank"
            rel="noreferrer noopener"
            class="icon-link"
        >
            GitHub Repo <i class="bi bi-github" aria-hidden="true"></i>
        </a>
        for updates instead.<br>
        Feel free to open a discussion if you have any questions.
    </p>
</div>

{% endblock %}
