{% extends 'base.html' %}
{% from 'generic_filters.html' import CheckboxFilters %}
{% from 'crumbbar.html' import CrumbBar %}

{% block content %}
<div class="columns is-centered is-mobile">
    <script src="/static/js/question.js"></script>

    <!-- Filters -->
    <div class="column is-narrow" id="filterColumn">
        <div id="filterSpacing"></div>
        <div id="platformSelect">
        {{ CheckboxFilters(platform_filters) }}
        </div>
        <div id="dataSourceSelect">
            {{ CheckboxFilters(data_source_filters) }}
        </div>
    </div>

    <!-- Question Cards -->
    <div class="column floatingColumn">
        <div id="answerListHeader">
            {{ CrumbBar(breadcrumbs) }}
            <div class="title md-content">{{ question.question|safe }}</div>
            <div class="control has-icons-right">

                <!-- start -> Tactics -->
                {% if question.id == "start" %}
                    <input id="questionSearch" oninput="questionUpdateSearchString(this.value)"
                        class="input is-rounded" type="text" placeholder="Search Tactic Answer Cards..."/>

                {% else %}
                    <!-- Tactic -> Techniques -->
                    {% if question.id.startswith("TA") %}
                        <input id="questionSearch" oninput="questionUpdateSearchString(this.value)"
                            class="input is-rounded" type="text"
                            placeholder="Search Technique Answer Cards & Descriptions..."/>

                    <!-- Technique -> Sub-Techniques -->
                    {% else %}
                        <input id="questionSearch" oninput="questionUpdateSearchString(this.value)"
                            class="input is-rounded" type="text"
                            placeholder="Search Sub-Technique Answer Cards & Descriptions..."/>

                    {% endif %}
                {% endif %}

                <span class="icon is-medium is-right" style="pointer-events: initial;">
                    <a>
                        <!-- Use info modal corresponding to search used -->
                        {% if question.id == "start" %}
                            <i class="mdi mdi-24px mdi-information-outline"
                                onclick="openModal('#answer_search_info_modal_frontend')"></i>
                        {% else %}
                            <i class="mdi mdi-24px mdi-information-outline"
                                onclick="openModal('#answer_search_info_modal_backend')"></i>
                        {% endif %}
                    </a>
                </span>
            </div>

            <!-- Backend-Based Search: display how a given search was interpreted -->
            {% if question.id != "start" %}
                <p id="ans-search-status"></p>
            {% endif %}
        </div>

        <div id="answer-list" data-index="{{ question.id }}" data-version="{{question.attack_version}}" data-tactic="{{ question.tactic }}">

            <div id="loading-message">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>

            <!-- Front-End -->
        </div>

        <nav id="answer-nav" class="pagination" role="navigation" aria-label="pagination">
            <!-- Front-End -->
        </nav>
    </div>
</div>

<!-- start->Tactics modal about the Front-End search -->
<div class="modal" id="answer_search_info_modal_frontend">
    <div class="modal-background" onclick="closeModal('#answer_search_info_modal_frontend')"></div>
    <!-- Click outside modal to close -->
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Answer Card Search (<i>Front-End<b><span style="color: red;">*</span></b></i>)</p>
            <button class="delete" aria-label="close" onclick="closeModal('#answer_search_info_modal_frontend')">
            </button>
        </header>
        <section class="modal-card-body default-list">
            <p><b>Search Overview</b></p>
            <ul>
                <li>This is a basic search that is potentially more convenient than <kbd>Ctrl-F</kbd>.</li>
                <li>Tactic cards are ordered by relevance and matched terms are highlighted.</li>
                <li><span style="color: red;">This <b>start➜Tactics</b> search may be removed in the future.</span></li>
            </ul>
            <br>
            <p><b>Note<span style="color: red;">*</span></b></p>
            <ul>
                <li>The <b>start➜Tactics</b> question page uses a lightweight front-end search as there are not many
                    Tactics.</li>
                <li>The <b>Tactic➜Techniques</b> and <b>Technique➜SubTechniques</b> pages use a heavier back-end
                    search that provides more content to match against.</li>
                <li>The back-end search is much more capable - which is useful to know for complex searches.</li>
            </ul>
        </section>
        <footer class="modal-card-foot"></footer>
    </div>
</div>

<!-- (Tactic->Techniques, Technique->SubTechniques) modal about the Back-End search -->
<div class="modal" id="answer_search_info_modal_backend">
    <div class="modal-background" onclick="closeModal('#answer_search_info_modal_backend')"></div>
    <!-- Click outside modal to close -->
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Answer Card Search (<i>Back-End<b><span style="color: red;">*</span></b></i>)</p>
            <button class="delete" aria-label="close" onclick="closeModal('#answer_search_info_modal_backend')">
            </button>
        </header>
        <section class="modal-card-body default-list">
            <p><b>Capabilities</b></p>
            <ul>
                <li>Searches a Technique's card content, its description, and the card content + descriptions of any
                    SubTechniques it has.</li>
                <li>Word stemming.</li>
                <li>Boolean search <i>(terms are <b>or</b>'d together by default)</i>.<br>
                    - <b>()</b> are used for operation order.<br>
                    - <b>|</b> will <b>or</b> terms/()s/&quot;&quot;s together.<br>
                    - <b>&amp;</b> will <b>and</b> terms/()s/&quot;&quot;s together.<br>
                    - <b>~</b> will <b>negate</b> the term/()/&quot;&quot; directly to the right of it (no spaces).<br>
                    - <b>*</b> will <b>prefix-search</b> for words completing the term/&quot;&quot; directly to the left of it (no spaces).
                        For &quot;&quot;s, it will prefix-search each word in the phrase.<br>
                    - <b>&quot;&quot;</b> are used to search for a chain of terms together as a phrase in the text.<br>
                    - <b>NOTE:</b> no special characters can be searched for. Words are considered to be continuous blocks of letters/numbers.<br>
                    - <b>Example: <code>(silver | gold*) & ticket</code></b>
                </li>
            </ul>
            <br>
            <p><b>Limitations</b></p>
            <ul>
                <li>No support for fuzziness.</li>
                <li>No support suffix search.</li>
                <li>Either T1055 or 1055 will match a Tech ID, but currently only T1055 will highlight it.</li>
            </ul>
            <br>
            <p><b>Intended Use</b></p>
            <ul>
                <li>The boolean support allows for more complex searches of answer cards.</li>
                <li>This serves as an alternative to manually reading each answer card.</li>
            </ul>
            <br>
            <p><b>Note<span style="color: red;">*</span></b></p>
            <ul>
                <li>The <b>start➜Tactics</b> question page uses a lightweight front-end search as there are not many
                    Tactics.</li>
                <li>The <b>Tactic➜Techniques</b> and <b>Technique➜SubTechniques</b> pages use a heavier back-end
                    search that provides more content to match against.</li>
                <li>The back-end search is much more capable - which is useful to know for complex searches.</li>
            </ul>
        </section>
        <footer class="modal-card-foot"></footer>
    </div>
</div>
{% endblock %}