{% extends 'base.html' %}

{% from 'success/description.html' import Description %}
{% from 'success/subtechniques.html' import SubTechniques %}
{% from 'success/akas.html' import Akas %}
{% from 'success/mismappings.html' import Mismappings %}
{% from 'success/examples.html' import Examples %}
{% from 'success/cooccurrences.html' import CoOccurrences %}
{% from 'crumbbar.html' import CrumbBar %}

{% block content %}
<div class="columns is-centered is-mobile">
    <div class="column floatingColumn">

        {{ CrumbBar(breadcrumbs) }}
        <div id="success-card" class="card">
            <script src="/static/js/success.js"></script>

            <header class="card-header success-card-title">
                {% if success.url %}
                    <p class="card-header-title success-header">
                        {{ success.name }}&nbsp;
                        <span>
                            [<a id="technique" target="_blank" rel="noreferrer noopener" data-value="{{ success.id }}" href="{{ success.url }}">{{ success.id }}</a>]
                        </span>
                    </p>
                    <div class="control card-header-icon">
                        {% if success.tactics|length > 1 %}
                        <div class="select">
                        {% else %}
                        <div class="select" style="display: none">
                        {% endif %}
                            <select id="tacticDropdownSelect" autocomplete="off">
                            {% for tact in success.tactics %}
                                {% if tact.tact_id == success.tactic_context %}
                                    <option value="{{ tact.tact_id }}" data-tlink="{{ tact.tech_url_for_tact }}" data-tname="{{ tact.tact_name }}" selected>{{ tact.tact_name }} ({{ tact.tact_id }})</option>
                                {% else %}
                                    <option value="{{ tact.tact_id }}" data-tlink="{{ tact.tech_url_for_tact }}" data-tname="{{ tact.tact_name }}">{{ tact.tact_name }} ({{ tact.tact_id }})</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </div>
                        <a class="success-card-header-icon card-header-icon">
                            <span class="icon is-medium">
                                <i class="mdi mdi-36px mdi-plus" onclick="addToCart('{{ success.name }}', '{{ success.id }}')"></i>
                            </span>
                        </a>
                    </div>
                {% else %}
                    <p class="card-header-title success-header">
                        {{ success.name }}&nbsp;
                        <span>
                            [{{ success.id }}]
                        </span>
                    </p>
                {% endif %}
            </header>

            <div class="card-content">
                {{ Description(success) }}
                {{ SubTechniques(success) }}
                {{ Akas(success) }}
                {{ Mismappings(success) }}
                {{ CoOccurrences(success) }}
                {{ Examples(success) }}
            </div>
        </div>

    </div>
</div>
{% endblock %}