{% extends 'base.html' %}

{% block title %}Tree Content{% endblock %}

{% block content %}

<div x-data="treeContent">
    <h1 class="fs-3">Tree Content {{ version }}</h1>

    <input
        aria-label="Load tree content json File"
        type="file"
        id="treeContentFile"
        accept="application/JSON"
        @change="loadFromJsonFileChanged($el)"
        class="d-none"
    >

    <div class="hstack">
        <!-- file i/o -->
        <div class="pe-3 me-3" style="border-right: 2px solid #ccc;">
            <div class="input-group">
                <span class="input-group-text">Tree Content File</span>
                <button type="button" class="btn btn-outline-dark btn-sm" @click="loadFromJson">
                    Load
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm" @click="saveToJson">
                    Save
                </button>
            </div>
        </div>

        <!-- jump to id -->
        <div class>
            <div class="input-group">
                <input
                    x-ref="jumpToIdBox"
                    type="text"
                    class="form-control"
                    placeholder="Tactic / Technique ID"
                    aria-label="Tactic / Technique ID goes here, button allows jumping to the editing row"
                    x-model="jumpId"
                    @keydown.enter="jumpToId"
                >
                <button
                    class="btn btn-outline-dark"
                    type="button"
                    @click="jumpToId"
                >Jump To ID</button>
            </div>
        </div>
    </div>

    <template x-for="nodeId in nodeOrder" :key="nodeId">

        {# Node #}
        <div x-data="treeContentNode(nodeLookup[nodeId])">
            <hr>

            {# ID - Name #}
            <h2
                tabindex="-1"
                :id="node.id"
                class="fs-4"
                x-text="`${node.id} - ${node.name}`"
                @keydown.escape="jumpToIdReturn"
            ></h2>

            {# Answer #}
            <div class="row answer-row">
                <h3 :id="`${node.id}-answer`" class="fs-5">Answer</h3>
                <div class="col-6 markdown-col">
                    <textarea
                        class="mb-2"
                        :aria-labelledby="`${node.id} ${node.id}-answer`"
                        style="width: 100%; height: 80px;"
                        x-model.debounce="node.answer_edit"
                        @keydown.escape="jumpToIdReturn"
                    ></textarea>
                </div>
                <div class="col-6 html-col">
                    <div x-html="node.answer_view"></div>
                </div>
            </div>

            {# Question #}
            <template x-if="node.has_children">
                <div class="row question-row">
                    <h3 :id="`${node.id}-question`" class="fs-5">Question</h3>
                    <div class="col-6 markdown-col">
                        <textarea
                            :aria-labelledby="`${node.id} ${node.id}-question`"
                            style="width: 100%; height: 80px;"
                            x-model.debounce="node.question_edit"
                            @keydown.escape="jumpToIdReturn"
                        ></textarea>
                    </div>
                    <div class="col-6 html-col">
                        <div x-html="node.question_view"></div>
                    </div>
                </div>
            </template>

        </div>

    </template>
</div>

<script>
    document.addEventListener("alpine:init", () => {
        const nodeLookup = {{ node_lookup | tojson }};
        const nodeOrder  = {{ node_order | tojson }};
        const treeVersion = {{ version | tojson }};
        Alpine.store("treeContentStore", { nodeLookup, nodeOrder, treeVersion });
    });
</script>

{% endblock %}
