{% extends 'base.html' %}

{% block title %}Tree Content{% endblock %}

{% block content %}

<!-- [ ] Better styling for text areas - need labels too (using headings / labeledby?) -->
<!-- [ ] Need dumps button to export tree content -->
<!-- [ ] Need load button to load tree content not pre-pop from server -->
<!-- [ ] On-change for .answer_edit / .question_edit feeding respective _view's -->

<!-- [ ] Need to ensure parent can access child data for export -->

<div x-data="treeContent">
    <h1 class="fs-3">Tree Content {{ version }}</h1>

    <button type="button" class="btn btn-primary btn-sm" @click="loadFromJson">
        Load
    </button>

    <button type="button" class="btn btn-primary btn-sm" @click="saveToJson">
        Save
    </button>

    <template x-for="nodeId in nodeOrder">

        {# Node #}
        <div x-data="treeContentNode(nodeLookup[nodeId])">
            <hr>

            {# ID - Name #}
            <h2 :id="node.id" class="fs-4" x-text="`${node.id} - ${node.name}`"></h2>

            {# Answer #}
            <div class="row">
                <h3 :id="`${node.id}-answer`" class="fs-5">Answer</h3>
                <div class="col-6">
                    <textarea
                        :aria-labelledby="`${node.id} ${node.id}-answer`"
                        style="width: 100%; height: 80px;"
                        x-model.debounce="node.answer_edit"
                    ></textarea>
                </div>
                <div class="col-6">
                    <div x-html="node.answer_view"></div>
                </div>
            </div>

            {# Question #}
            <template x-if="node.has_children">
                <div class="row">
                    <h3 :id="`${node.id}-question`" class="fs-5">Question</h3>
                    <div class="col-6">
                        <textarea
                            :aria-labelledby="`${node.id} ${node.id}-question`"
                            style="width: 100%; height: 80px;"
                            x-model.debounce="node.question_edit"
                        ></textarea>
                    </div>
                    <div class="col-6">
                        <div x-html="node.question_view"></div>
                    </div>
                </div>
            </template>

        </div>

    </template>
</div>

<script>
    document.addEventListener("alpine:init", () => {
        const nodeLookup = {{ node_lookup | tojson }};
        const nodeOrder  = {{ node_order | tojson }};
        const treeVersion = {{ version | tojson }};
        Alpine.store("treeContentStore", { nodeLookup, nodeOrder, treeVersion });
    });
</script>

{% endblock %}
